{% extends 'base.html' %}

{% block content %}
<h2>Dashboard</h2>

<p><strong>Total Expense:</strong> ₹{{ total_expense }}</p>

{% if budget %}
    <p><strong>Budget:</strong> ₹{{ budget.amount }}</p>
    <p><strong>Remaining:</strong> ₹{{ remaining }}</p>
{% else %}
    <p>No budget set yet.</p>
{% endif %}

<hr>

<a href="{% url 'add_expense' %}">➕ Add Expense</a> |
<a href="{% url 'set_budget' %}">💰 Set Budget</a>

<hr>

<h3>Expenses</h3>

<table border="1" cellpadding="5">
    <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Date</th>
    </tr>

    {% for expense in expenses %}
    <tr>
        <td>{{ expense.title }}</td>
        <td>{{ expense.category }}</td>
        <td>₹{{ expense.amount }}</td>
        <td>{{ expense.date }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">No expenses added yet.</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
