body {
    font-family: Arial;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 8px;
}

a {
    margin-right: 10px;
}

.message {
    color: green;
}
